*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 4rem;
    width: 100%;
    background-color: aqua;
}
.navbar-item{
    display: flex;
    justify-content: space-between;
  
     
}
.right-item{
    margin-right: 1rem;
    margin-top: 1.4rem;
}
.left-item{
    margin-top: 1rem ;
}
.right-item a{
    text-decoration: none;
    margin-left: 2.5rem;
    
    font-size: larger;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="tel"] {
    font-family: monospace; /* To enforce fixed-width font for phone numbers */
}

small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

